{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    {% include 'navbar/navbar.html.twig' %}

    <h4>Add new product to your collection</h4>
    {{ form_start(form) }}
    <table>
        <thead></thead>
        <tbody>
        <tr>
            <td>{{ form_label(form.name) }}</td>
            <td>{{ form_widget(form.name) }}</td>
            <td>{{ form_errors(form.name) }}</td>
        </tr>
        </tbody>
    </table>
    {{ form_end(form) }}

    <br>
    {{ errorMessage }}

{% endblock %}