{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    {% include 'navbar/navbar.html.twig' %}

    <h2 class="page-header">Your Products</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Amount Of Product</th>
                <th>Unit</th>
            </tr>
        </thead>
        <tbody>
            {% for userProduct in userProducts %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{ userProduct.getProduct.getName }}</td>
                    <td>{{ userProduct.getAmount }}</td>
                    <td>{{ userProduct.getUnit.getShortName }}</td>
                    <td><a href="/products/edit/{{ userProduct.getId }}" class="btn btn-warning">Edit</a></td>
                    <td><a href="/products/delete/{{ userProduct.getId }}" class="btn btn-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/products/add" class="btn btn-success">Add Product</a>
    <br><br>
    {{ errorMessage }}
{% endblock %}